:root {
    /* textColor */
    --sv-text-primary: 96, 165, 250;
    --sv-text-primary--hover: 147, 197, 253;
    --sv-text-secondary: 163, 163, 163;
    --sv-text-secondary--hover: 212, 212, 212;
    --sv-text-success: 74, 222, 128;
    --sv-text-success--hover: 134, 239, 172;
    --sv-text-danger: 248, 113, 113;
    --sv-text-danger--hover: 252, 165, 165;
    --sv-text-warning: 250, 204, 21;
    --sv-text-warning--hover: 253, 224, 71;
    --sv-text-info: 34, 211, 238;
    --sv-text-info--hover: 103, 232, 249;
    --sv-text-link: 34, 211, 238;
    --sv-text-link--hover: 103, 232, 249;
    --sv-text-disabled: 180, 180, 180;
    --sv-text-label: 33, 53, 71;
    --sv-text-input: 33, 53, 71;
    --sv-text-input-selected: 61, 37, 192;
    --sv-text-input--active: 61, 37, 192;
    --sv-text-navigation: 17, 24, 39;
    --sv-text-navbar-menu-toggle: 156, 163, 175;
    --sv-text-navbar-menu-toggle--hover: 255, 255, 255;
    --sv-text-table: 230, 230, 230;

    /* backgroundColor */
    --sv-bg-primary: 219, 234, 254;
    --sv-bg-primary--hover: 191, 219, 254;
    --sv-bg-primary--active: 147, 197, 253;
    --sv-bg-secondary: 245, 245, 245;
    --sv-bg-secondary--hover: 229, 229, 229;
    --sv-bg-secondary--active: 212, 212, 212;
    --sv-bg-success: 220, 252, 231;
    --sv-bg-success--hover: 187, 247, 208;
    --sv-bg-success--active: 134, 239, 172;
    --sv-bg-danger: 254, 226, 226;
    --sv-bg-danger--hover: 254, 202, 202;
    --sv-bg-danger--active: 252, 165, 165;
    --sv-bg-warning: 254, 249, 195;
    --sv-bg-warning--hover: 254, 240, 138;
    --sv-bg-warning--active: 253, 224, 71;
    --sv-bg-info: 207, 250, 254;
    --sv-bg-info--hover: 165, 243, 252;
    --sv-bg-info--active: 103, 232, 249;
    --sv-bg-disabled: 229, 231, 235;

    --sv-bg-input: 241, 241, 241;
    --sv-bg-input-selected: 200, 200, 200;
    --sv-bg-input--active: 180, 180, 180;
    --sv-bg-input-indicator: 250, 250, 250;
    --sv-bg-input-indicator-selected: 250, 250, 250;
    --sv-bg-input-indicator--active: 250, 250, 250;
    --sv-bg-input-indicator-disabled: 250, 250, 250;

    --sv-bg-navigation--hover: 209, 213, 219;
    --sv-bg-navigation-dropdown: 243, 244, 246;
    --sv-bg-navbar-menu-toggle: 55, 65, 81;
    --sv-bg-navbar-menu-toggle--hover: 31, 41, 55;

    --sv-bg-dialog: 240, 240, 240;

    --sv-bg-table: 30, 30, 30;
    --sv-bg-table-thead-tr: 17, 24, 39;
    --sv-bg-table-tbody-tr--odd: 45, 45, 45;
    --sv-bg-table-tbody-tr--hover: 60, 60, 60;

    /* borderColor */
    --sv-border-primary: 191, 219, 254;
    --sv-border-secondary: 229, 229, 229;
    --sv-border-success: 187, 247, 208;
    --sv-border-danger: 254, 202, 202;
    --sv-border-warning: 254, 240, 138;
    --sv-border-info: 165, 243, 252;
    --sv-border-disabled: 209, 213, 219;

    --sv-border-input: 160, 160, 160;
    --sv-border-input-selected: 120, 120, 120;
    --sv-border-input--active: 100, 100, 100;
    --sv-border-input-indicator: 60, 60, 60;
    --sv-border-input-indicator-selected: 120, 120, 120;
    --sv-border-input-indicator--active: 120, 120, 120;
    --sv-border-input--hover: 40, 40, 40;

    --sv-border-navigation-dropdown: 209, 213, 219;
    --sv-border-navigation-divider: 209, 213, 219;
    
    --sv-default--focus: 191, 219, 254;

    --sv-border-dialog: 100, 100, 100;

    --sv-border-table: 17, 24, 39;

    /* placeholderColor */
    --sv-placeholder-input: 180, 180, 180;

    /* ringColor */
    --sv-ring-default--focus: 147 197 253;
}

.dark {
    /* textColor */
    --sv-text-primary: 30, 58, 138;
    --sv-text-primary--hover: 30, 64, 175;
    --sv-text-secondary: 90, 90, 90;
    --sv-text-secondary--hover: 38, 38, 38;
    --sv-text-success: 20, 83, 45;
    --sv-text-success--hover: 22, 101, 52;
    --sv-text-danger: 127, 29, 29;
    --sv-text-danger--hover: 153, 27, 27;
    --sv-text-warning: 113, 63, 18;
    --sv-text-warning--hover: 133, 77, 14;
    --sv-text-info: 22, 78, 99;
    --sv-text-info--hover: 21, 94, 117;
    --sv-text-link: 22, 78, 99;
    --sv-text-link--hover: 21, 94, 117;
    --sv-text-disabled: 107, 114, 128;
    --sv-text-label: 250, 250, 250;
    --sv-text-input: 250, 250, 250;
    --sv-text-input-selected: 61, 37, 192;
    --sv-text-input--active: 61, 37, 192;
    --sv-text-navigation: 250 250 250;
    --sv-text-navbar-menu-toggle: 156, 163, 175;
    --sv-text-navbar-menu-toggle--hover: 255, 255, 255;
    --sv-text-table: 230, 230, 230;

    /* backgroundColor */
    --sv-bg-primary: 37, 99, 235;
    --sv-bg-primary--hover: 29, 78, 216;
    --sv-bg-primary--active: 30, 64, 175;
    --sv-bg-secondary: 82, 82, 82;
    --sv-bg-secondary--hover: 64, 64, 64;
    --sv-bg-secondary--active: 38, 38, 38;
    --sv-bg-success: 22, 163, 74;
    --sv-bg-success--hover: 21, 128, 61;
    --sv-bg-success--active: 22, 101, 52;
    --sv-bg-danger: 220, 38, 38;
    --sv-bg-danger--hover: 185, 28, 28;
    --sv-bg-danger--active: 153, 27, 27;
    --sv-bg-warning: 202, 138, 4;
    --sv-bg-warning--hover: 161, 98, 7;
    --sv-bg-warning--active: 133, 77, 14;
    --sv-bg-info: 8, 145, 178;
    --sv-bg-info--hover: 14, 116, 144;
    --sv-bg-info--active: 21, 94, 117;
    --sv-bg-disabled: 31, 41, 55;

    --sv-bg-input: 26, 26, 26;
    --sv-bg-input-selected: 60, 60, 60;
    --sv-bg-input--active: 35, 35, 35;
    --sv-bg-input-indicator: 47, 47, 47;
    --sv-bg-input-indicator-selected: 26, 26, 26;
    --sv-bg-input-indicator--active: 26, 26, 26;
    --sv-bg-input-indicator-disabled: 65, 65, 65;

    --sv-bg-navigation--hover: 75, 85, 99;
    --sv-bg-navigation-dropdown: 55, 65, 81;
    
    --sv-bg-dialog: 180, 180, 180;

    --sv-bg-table: 40, 40, 40;
    --sv-bg-table-thead-tr: 28, 32, 36;
    --sv-bg-table-tbody-tr--odd: 45, 45, 45;
    --sv-bg-table-tbody-tr--hover: 60, 60, 60;

    /* borderColor */
    --sv-border-primary: 29, 78, 216;
    --sv-border-secondary: 64, 64, 64;
    --sv-border-success: 21, 128, 61;
    --sv-border-danger: 185, 28, 28;
    --sv-border-warning: 161, 98, 7;
    --sv-border-info: 14, 116, 144;
    --sv-border-disabled: 31, 41, 55;

    --sv-border-input: 128, 128, 128;
    --sv-border-input-selected: 128, 128, 128;
    --sv-border-input--active: 60, 60, 60;
    --sv-border-input-indicator: 128, 128, 128;
    --sv-border-input-indicator-selected: 128, 128, 128;
    --sv-border-input-indicator--active: 128, 128, 128;
    --sv-border-input--hover: 200, 200, 200;

    --sv-border-navigation-divider: 75, 85, 99;
    --sv-border-navigation-dropdown: 75, 85, 99;
    --sv-border-navbar-menu-toggle: 55, 65, 81;
    --sv-border-navbar-menu-toggle--hover: 31, 41, 55;

    --sv-default--focus: 96, 165, 250;
    
    --sv-dialog: 50, 50, 50;

    --sv-border-table: 17, 24, 39;

    /* placeholder */
    --sv-placeholder-input: 100, 100, 100;

    /* ringColor */
    --sv-ring-default--focus: 59, 130, 246;
}